.Location {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    padding: 0 1rem;
    width: 100%;
    align-items: center;
    color: gray;
    background: rgba(27, 27, 47, 1);
    border-radius: 30px;
}

.location__items {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    align-items: left;
    gap: 2rem;
}
 
.location__item {
    width: max-content;
    line-height: 150%;
}

.location__title {
    padding: 1rem;
    color: #f5f5f5;
}

@media only screen and (min-width: 600px) {
    .Location {
        width: 95%;
    }

    .location__items {
        justify-content: space-around;
    }
}

@media only screen and (min-width: 680px) {
    .Location {
        width: 95%;
    }

    .location__items {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1250px) {
    .Location {
        width: 90%;
    }
}