.card__character {
    width: 340px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: rgba(31, 64, 104, .7);
    color: gray;
    border: none;
    box-shadow: 15px 8px 8px rgba(1, 1, 1, 0.4);
    overflow: hidden;
}
 
.card__title {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    padding: 1rem 1rem 0 1rem;
    border-radius: 20px;
}

.card__img {
    width: 50%;
    
}

.card__title_info {
    width: 50%;
}

.card__img img {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.Dead img{
    animation: infinite resplandorAnimationDead 2s;
}

.Alive img{
    animation: infinite resplandorAnimationAlive 2s;
}

.unknown img{
    animation: infinite resplandorAnimation 2s;
}

@keyframes resplandorAnimation {
    0%,100%{
      box-shadow: 0px 0px 23px rgb(183, 183, 183);
    }
    50%{
    box-shadow: 0px 0px 0px rgb(183, 183, 183);
    
    }
  
  }

  @keyframes resplandorAnimationAlive {
    0%,100%{
      box-shadow: 0px 0px 23px green;
    }
    50%{
    box-shadow: 0px 0px 0px green;
    
    }
  
  }

  @keyframes resplandorAnimationDead {
    0%,100%{
      box-shadow: 0px 0px 23px red;
    }
    50%{
    box-shadow: 0px 0px 0px red;
    
    }
  
  }

span {
    color: #f5f5f5;
}

.card__character__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: start;
    padding: 1rem;
    background: rgba(27, 27, 47, .7);
    width: 100%;
}

.character__info_item {
    padding: 0 .6rem;
    line-height: 150%;
}